.list{
    display: flex;
    justify-content: space-between;
}

.excluir{
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}
.itens{
    color: #fff;
    margin-top: 8px;
}
  
.todo-item input{
    height: 30px;
    width: 200px;
    outline: none;
    padding-left: 15px;
}
  
.todo-item button{
    height: 34px;
    cursor: pointer;
}
  
.addItem{
    margin-left: 3px;
    color: #fff;
    background-color: #ff6666;
    border: 1px solid #fff;
}